@{
    Layout = null;
}

@Scripts.Render("~/Scripts/lib/jquery/jquery.min.js")
@*layer JS*@
<script type="text/javascript" src="~/Scripts/lib/layer/2.4/layer.js"></script>

<script type="text/javascript">
    var baseUrl = '@Url.Content("~/")'; //全局的URl，解决iis中路径的问题
    var dojoConfig = {
        parseOnLoad: true,
        async: true,
        packages: [{
            name: "atide",
            location: baseUrl + 'Scripts/MapSystem'
        }]
    };
</script>
@Scripts.Render("http://172.16.1.141:8091/arcgis/api/3.20/init.js")
@*@Scripts.Render("http://127.0.0.1/arcgis/3.20/init.js")*@

@*<div>*@


<div id="PictureView" style="margin: 5px; border: 1px solid gray; border-image: none; height: 560px; overflow: auto;"> </div>
<div style="margin: 0px; height: 25px;">
    <button style="margin-left:100px;" onclick="change(1)">上一张</button><button style="margin-left: 250px;" onclick="change(2)">下一张</button>
</div>
@*</div>*@



<script>
    var webUrlOR;
    var ZPid = 1;
    var localUrlOR;

    $(function () {   //初始化弹出页

        var TBBH = '@ViewBag.TBBH'
        var TIME = '@ViewBag.TIME'
        var XZQDM = '@ViewBag.XZQDM'

        // JCTBBH = '1'
        //TIME= '2015'
        //XZQDM = '530181'
        require(["atide/gis/config/system-config", "dojo/domReady!"
        ], function (SystemConfig) {
            //layer.msg(SystemConfig.fjConfig.yghcPictureUrl);
            webUrlOR = SystemConfig.fjConfig.yghcPictureUrl + TIME + "/" + XZQDM + "/" + XZQDM + "_" + TBBH + "_CL_";
            localUrlOR = SystemConfig.fjConfig.yghcLocalDir + "\\" + TIME + "\\" + XZQDM + "\\" + XZQDM + "_" + TBBH + "_CL_";
            localurl = localUrlOR + ZPid + ".jpg";
            weburl = webUrlOR + ZPid + ".jpg";
             var postData = {
                 path: localurl
        };

        $.ajax({
            type: 'POST',
            data: postData,
            url: "/MapSystem/isFileExsit",
            async: false, //这是重要的一步，防止重复提交的
            success: function (data) {
                if (data == "success") {
                    var div = document.getElementById('PictureView')
                    div.innerHTML = "";
                    var img = document.createElement("img");
                    img.setAttribute("style", "height:560px;");
                    img.src = weburl;
                    div.appendChild(img);
                    return;
                } else {
                    layer.msg("未找到相应图片");
                    return;
                }
            },
            error: function () {
                layer.msg("未找到相应图片");
                return;
            }
        });
            //getPicture(url);
        })



    })

    function getPicture(url)   //创建图片img
    {

        var img = document.createElement("img");
        img.src = url;
        //setTimeout(check, 1);  //不能同步检查，否则无法判断状态                  
        //function check() {
        //    if (img.complete == true) {
        //        var div = document.getElementById('PictureView')
        //        div.innerHTML = "";
        //        div.appendChild(img);
              
        //    }
        //    else {
        //        layer.msg("未找到相应图片");
        //        //alert("未找到相应图片")
                
        //    }
        //}
      
    }



    function change(kind)  //翻页
    {
        if (kind == 1)   //上页
        {
            ZPid -= 1;
            var weburl = webUrlOR + ZPid + ".jpg";

            var localurl = localUrlOR + ZPid + ".jpg";
             
                var postData = {
                    path: localurl
                };
                $.ajax({
                    type: 'POST',
                    data: postData,
                    url: "/MapSystem/isFileExsit",
                    async: false, //这是重要的一步，防止重复提交的
                    success: function (data) {
                        if (data == "success") {
                            var div = document.getElementById('PictureView')
                            div.innerHTML = "";
                            var img = document.createElement("img");
                            img.setAttribute("style", "height:560px;");
                            img.src = weburl;
                            div.appendChild(img);
                            return;
                        } else {
                            ZPid += 1;
                            layer.msg("未找到相应图片");
                            return;
                        }
                    },
                    error: function () {
                        ZPid += 1;
                        layer.msg("未找到相应图片");
                        return;
                    }
                });


            //var img = document.createElement("img");
            //img.src = url;
            //setTimeout(check, 1);  //不能同步检查，否则无法判断状态                  
            //function check() {
            //    if (img.complete == true) {
            //        var div = document.getElementById('PictureView')
            //        div.innerHTML = "";
            //        div.appendChild(img);
                   
            //    }
            //    else {
            //        layer.msg("未找到相应图片");
                   
            //        ZPid += 1;
            //    }
            //}         

        }


        else {
            ZPid += 1;
            var weburl = webUrlOR + ZPid + ".jpg";

            var localurl = localUrlOR + ZPid + ".jpg";

            var postData = {
                path: localurl
            };
            $.ajax({
                type: 'POST',
                data: postData,
                url: "/MapSystem/isFileExsit",
                async: false, //这是重要的一步，防止重复提交的
                success: function (data) {
                    if (data == "success") {
                        var div = document.getElementById('PictureView')
                        div.innerHTML = "";
                        var img = document.createElement("img");
                        img.setAttribute("style", "height:560px;");
                        img.src = weburl;
                        div.appendChild(img);
                        return;
                    } else {
                        ZPid -= 1;
                        layer.msg("未找到相应图片");
                        return;
                    }
                },
                error: function () {
                    ZPid -= 1;
                    layer.msg("未找到相应图片");
                    return;
                }
            });
            //url = urlOR + ZPid + ".jpg";
            //var img = document.createElement("img");
            //img.src = url;
            //setTimeout(check, 1);  //不能同步检查，否则无法判断状态                  
            //function check() {
            //    if (img.complete == true) {
            //        var div = document.getElementById('PictureView')
            //        div.innerHTML = "";
            //        div.appendChild(img);

            //    }
            //    else {
            //        layer.msg("未找到相应图片");
                   
            //        ZPid -= 1;
            //    }
            //}                
        }
    }



</script>

