
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MapSystemLayout.cshtml";
}

@section TitleSection{
    云南省设施农用地备案监管系统
}

@section HeaderSection{
<link rel="stylesheet" href="~/Content/MapSystem/index.css" />
<link rel="stylesheet" href="~/Content/MapSystem/head.css" />
@*<link rel="stylesheet" href="~/Content/MapSystem/timeline.css" />*@
 
<link rel="stylesheet" href="~/Scripts/lib/ztree.3.5.26/css/zTreeStyle/zTreeStyle.css" type="text/css">
<script type="text/javascript" src="~/Scripts/lib/ztree.3.5.26/jquery.ztree.core.js"></script>
<script type="text/javascript" src="~/Scripts/lib/ztree.3.5.26/jquery.ztree.excheck.js"></script>
<script type="text/javascript" src="~/Scripts/lib/ztree.3.5.26/jquery.ztree.exedit.js"></script>
<script src="~/Scripts/lib/ztree.3.5.26/jquery.ztree.exhide.js"></script>



@*layer JS*@


@*EChart JS*@
@*<script src="~/Scripts/lib/echarts/3.5.4/echarts.min.js"></script>*@
@*自定义JS*@

<script src="~/Scripts/MapSystem/gis/tool/tool-arcgis.js"></script>
<script src="~/Scripts/MapSystem/gis/tool/tool-layerOperation.js"></script>
<script src="~/Scripts/MapSystem/gis/operation-infoQuery.js"></script>
<script src="~/Scripts/MapSystem/gis/operation-displayLayer.js"></script>
<script src="~/Scripts/MapSystem/gis/operation-indentifyLayer.js"></script>






<link href="~/Scripts/lib/jquery-toolbar20160918/css/jquery.toolbar.css" rel="stylesheet" />
<script src="~/Scripts/lib/jquery-toolbar20160918/js/jquery.toolbar.min.js"></script>
<script type="text/javascript">
        require(["dojo/parser", 'dojo/dom', 'atide/gis/main', "dojox/layout/FloatingPane", "dijit/form/Button", "dijit/layout/ContentPane", "dijit/layout/BorderContainer", "dijit/layout/TabContainer", "dijit/layout/AccordionContainer", "dijit/layout/AccordionPane"]);
</script>

<script>
    var g_Year;
    var g_Tree;
     var g_main = null;
    dojo.ready(function () {
        g_main = new atide.gis.main();
        require(["atide/gis/operation-displayTree"], function (myZtree) {

            g_Tree = myZtree();


        });
    });






</script>

}

@section ContentBody{
<div data-dojo-type="dojox.layout.FloatingPane" id="dFloatingPane"
     data-dojo-props="resizable:true, dockable:false,  closable:false,title:'查询分析'"
     style="position:absolute;top:100px;left:100px;width:400px;height:500px;visibility:hidden;">
    <span>
        <button data-dojo-type="dijit.form.Button" data-dojo-props="label:'空间查询'" onclick="switchTAB(1)"></button>
        <button data-dojo-type="dijit.form.Button" data-dojo-props="label:'空间统计'" onclick="switchTAB(2)"></button>
        <button data-dojo-type="dijit.form.Button" data-dojo-props="label:'属性查询'" onclick="switchTAB(3)" ></button>
        <button data-dojo-type="dijit.form.Button" data-dojo-props="label:'属性统计'" onclick="switchTAB(4)"></button>
    <button data-dojo-type="dijit.form.Button" data-dojo-props="label:'关闭', onClick:function(){dijit.byId('dFloatingPane').hide();}"></button><br /></span>  


    <div data-dojo-type="dijit/layout/TabContainer" id="TC1" style="width: 100%; height: 100%;">
        <div data-dojo-type="dijit/layout/ContentPane" id="QU1" title="查询" data-dojo-props="selected:true">
            <button  onclick="queryTool('Point')">单点</button>        
            <button  onclick="queryTool('Freehand_Polyline')">自由曲线</button>
            <button  onclick="queryTool('Freehand_Polygon')">自由曲面</button>
            <button  onclick="queryTool('Circle')">圆形</button>
            <div id="QU11"></div>
        </div>

        <div data-dojo-type="dijit/layout/ContentPane" id="RES1" title="结果">
         
        </div>
    </div>

    <div data-dojo-type="dijit/layout/TabContainer" id="TC2" style="width: 100%; height: 100%;">
        <div data-dojo-type="dijit/layout/ContentPane" id="QU2" title="统计" data-dojo-props="selected:true">
            <button  onclick="queryTool('Point',1)">单点</button>
            <button  onclick="queryTool('Freehand_Polyline',1)">自由曲线</button>
            <button  onclick="queryTool('Freehand_Polygon',1)">自由曲面</button>
            <button  onclick="queryTool('Circle',1)">圆形</button>
        </div>
        <div data-dojo-type="dijit/layout/ContentPane" id="RES2" title="结果">
        
        </div>
    </div>
    <div data-dojo-type="dijit/layout/TabContainer" id="TC3" style="width: 100%; height: 100%;">
        <div data-dojo-type="dijit/layout/ContentPane" id="QU3" title="查询" data-dojo-props="selected:true">
           <label>选择查询字段：</label> <select name=" selectQ1" id="selectQ1">
    <option value="BSM" selected="selected">标识码</option>
    <option value="SSNYDLX">土地类型</option>
    <option value="XZQDM">行政区代码</option>
</select>
            <label>输入查询值：</label>   <input id="QUvalue1" name="QUvalue1">        
            <button data-dojo-type="dijit/form/Button" onclick="queryAtt(QUvalue1.value, selectQ1.value, 0)">查询</button>
            <div id="QU31"></div>
        </div>
        <div data-dojo-type="dijit/layout/ContentPane" id="RES3" title="结果">
        
        </div>
    </div>
    <div data-dojo-type="dijit/layout/TabContainer" id="TC4" style="width: 100%; height: 100%;">
        <div data-dojo-type="dijit/layout/ContentPane" id="QU4" title="查询" data-dojo-props="selected:true">
            <label>选择查询字段：</label> <select name=" selectQ2" id="selectQ2">
                <option value="BSM" selected="selected">标识码</option>
                <option value="SSNYDLX">土地类型</option>
                <option value="XZQDM">行政区代码</option>
            </select>
            <label>输入查询值：</label>   <input id="QUvalue2" name="QUvalue2">
            <button data-dojo-type="dijit/form/Button" onclick="queryAtt(QUvalue2.value, selectQ2.value,1)">查询</button>
        </div>
        <div data-dojo-type="dijit/layout/ContentPane" id="RES4" title="结果">
        
        </div>
    </div>



    

</div>


<div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="gutters:false,liveSplitters:false" id="borderContainer">
    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'top',splitter:false" style="height:60px;">
        @Html.Partial("_HeadView")
    </div>
    <div id="leftPane" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'left',splitter:true" style="width:200px;padding:0px;margin:0px;">
        @Html.Partial("_LeftTreeView")
    </div>
    <div  data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'right'" style="width:100px;padding:0px;margin:0px;background-color:rgb(52, 108, 147)">
        @Html.Partial("_TimelineView")
    </div>

    <div id="map" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center',splitter:false" >
  
  
        @Html.Partial("_ToolBarView")

        
        @Html.Partial("_BottomResultView")
 

    </div>


    @*<div id="bot" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'bottom'" style="height:200px;">
        <div id="myTableNode"></div>
    </div>*@

   
</div>


}

